.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 1rem;
}

.cards-container > div {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container > div:nth-child(2n) {
  margin-top: 30px;
}

.photo {
  width: 100%;
  height: 225px;
  object-fit: cover;
  display: block;
}

.nombre {
  font-size: 12px;
  text-align: left;
  padding: 0.5rem 1rem;
  width: 100%;
}

/* Version para pc */
@media (min-width: 1024px) {
  .cards-container {
    text-align: left;

    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    .app-container p {
      font-size: 1.2rem;
    }
  }

  .cards-container > div {
    max-width: 100%;
  }

  .photo {
    height: 500px;
  }

  .nombre {
    font-size: 30px;
  }
}
